<!--
<%= link_to 'Inicio',controller: 'home',action: 'index' %>
<%= link_to 'Ayuda',controller: 'ayuda',action: 'index' %>

<%= link_to_unless_current 'Inicio',home_index_url %>
<%= link_to_unless_current 'Ayuda',ayuda_index_path %>
-->
<h1>Home#index</h1>
<p>Find me in app/views/home/index.html.erb</p>
